* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

body {
  font-family: "Nunito", sans-serif; }

.container {
  background-color: #000000;
  width: 1000px;
  margin: 100px auto;
  display: grid;
  grid-template-rows: 100px 100px 100px 100px 100px 100px;
  grid-template-columns: 100px 100px 100px 100px; }
