$color-background:#000000;
$color-button:lightblue;
$color-function-button:yellow;
$color-link-button:red;


$font-primary: 'Nunito', sans-serif;
$font-display:'Josefin'

*{
    margin:0;
    padding:0;
    box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body{
    fony
}