$color-background:#000000;
$color-button:lightblue;
$color-function-button:yellow;
$color-link-button:red;
$color-font:white;


$font-primary: 'Nunito', sans-serif;
$font-display:'Josefin',sans-serif; 

*{
    margin:0;
    padding:0;
    box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body{
    font-family: $font-primary;
}

container {
  background-color: #000000;
  width:100px;
  margin:30px auto;
  display: grid;
}