$color-background:#000000;
$color-button:lightblue;
$color-function-button:yellow;
$color-link-button:red;
$color-text-content:white;


$font-primary: 'Nunito', sans-serif;
$font-display:'Josefin',sans-serif; 

*{
    margin:0;
    padding:0;
    box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body{
    font-family: $font-primary;
}

.container {
  background-color: $color-background;
  width:600px;
  height:750px;
  margin:50px auto;
  display: flex;
  justify-content: center;
  align-items: center;

  
  & .item {   
    display: grid;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
    grid-template-columns: 110px 110px 110px 110px;
    background-color: $color-text-content;
   
  }

  & .text-num {
    background-color:$color-text-content;
    font-size: 70px;
    font-family: $font-display;
    color: $color-background;
    grid-column-start: 1;
    grid-column-end: 5; 
    text-align: right;
    padding-right:10px
  }

  & .cancel, 
  .remove-num,
  .minus-plus,
  .division,
  .multi, .substraction,
  .add {
    background-color: $color-button;
  }
  & .link-school{
    background-color: $color-link-button;
  }
  & .point, .equal{
    background-color: $color-function-button;
  }
}